*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.main-container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main{
    display:flex;
    flex-direction:column;
    gap:25px;
    justify-content:center;
    box-shadow:4px 4px 8px gray;
    width:90%;
    max-width:540px;
    
   padding-top:40px;
   padding-bottom:60px;
    border-radius:3px;
    background-color:rgb(245, 197, 138);
   
}
.heading{
    font-size:35px;
text-align:center;

}
.display{
    padding:10px 10px;
    width:90%;
   max-width:340px;
    font-size:18px;
    border-radius:3px;
    border:1px solid gray;
}
.button{
    padding:10px 20px;
    font-size:20px;
     color:white;
    background-color:rgb(245, 49, 49);
    border:none;
    border-radius:4px;
}
.button:hover{
    box-shadow:0px 0px 20px 2px white;
}
.submit{
    display:flex;
    justify-content:center;
   gap:15px;
   flex-wrap:wrap;
}
p{
    display:flex;
    justify-content: space-between;
    font-size:20px;
    
}
p:hover{
    cursor:pointer;
}
 .para{
    padding-right:30px;
    padding-left:30px;
 }
.cancelbut{
    font-size:15px;
}
@media(max-width:480px){
    .heading{
        font-size:29px;
    }
    .button{
        padding:7px 20px;
        margin-top:10px;
    }
}




